header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    min-height: 20vh;
} 

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}